.FounderCardContainer{
    width: 25%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}
.ImageContainer{
    width: 70%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
}
.NombreTxt{
    width: 341px;
    text-align: center;
    font-weight: 700;
}
@media(max-width:720px){
    .FounderCardContainer{
        height: 200px;
    }
   
}