.aboutUsSection{
    position: relative;
    width: 100vw;
    
}
.HeaderAUS{
    background-color: #1D2430;
    padding: 10px 0px 20px 50px;
    box-sizing: border-box;
    margin-bottom:130px ;
    color: white;

    }
.TitleAUS{
    font-size: 48px;
    margin: 0;
}
.SubtitleAUS{
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}
.BodyAUS{
    position: absolute;
    top: 150px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
}
.FirstSectionBody{
    display: flex;
    align-items: center;
    padding:0px 20px 0px 50px; 
    width: 100%;
    box-sizing: border-box;
    & img{
        width: 20%;
        position: relative;
    }
}
.ParrfContainer{
    margin-right: 80px;
    width: 100%;
}
.FirstParf{
    position: relative;
    width: 100%;
}
.SecondParf{
    margin-top: 60px;
}
.TitleBod{
    font-size: 50px;
    margin: 0;
}
.txtBod{
    font-size: 20px;
    width: 100%;
    margin: 15px 0px 0px 0px;
    
}
.SecondSection{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  
}
.TtileSecondSecBod{
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    color: #005E58;
}
.SecondSectBody{
    display: flex;
    & img{
        width: 42px;
        height: 570px;
    }
}
.SecondParrfDate{
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    color: #2CC991;
}
.SecondParrfTxt{
    margin: 0;
    font-size: 28px;
}
.Founders{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    background-color: #46A7A6;
    position: relative;
    padding: 50px 70px 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.FoundersTitle{
    font-size: 85px;
    margin: 0;
    color: #B4FFD2;
    font-weight: 600;
}
.FoundersCardContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}
.UnirseSection{
    margin: 50px 0px 50px 0px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UnirseContainer{
    padding: 10px 30px;
    background-color: #1D2430;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UnirseTitle{
    font-size: 64px;
    margin: 0;
    color: #95F9D8;
   
}
.UnirseTxt{
    font-size: 40px;
    color: #DAFFD6;

}
.btnDonar{
    background-color: #7ADFDB;
    border-radius: 37px;
    color: #020305;
    font-size: 28px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
}

@media (max-width: 1366px){
    .TitleAUS{
        font-size: 38px;
    }
    .SubtitleAUS{
        font-size: 20px;
    }
    .TitleBod{
        font-size: 40px;
    }
    .txtBod{
        font-size: 15px;
    }
    .TtileSecondSecBod{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .SecondParrfDate{
        font-size: 50px;
    }
    .SecondParrfTxt{
        font-size: 20px;
    }
    .SecondSectBody {
        & img{
            width: 30px;
            height: 470px;
        }
    }
    .FoundersTitle{
        font-size: 50px;
    }
    .Founders{
        height: 500px;
    }
    .NombreTxt{
        font-size: 30px;
    }
    .UnirseTitle{
        font-size: 44px;
    }
    .UnirseTxt{
        font-size: 20px;
    }
}

@media (max-width: 720px){
.NombreTxt{
    font-size: 20px;
    width: 200px;
}
.SecondParrfTxt{
    width: 90%;
}
.SubtitleAUS{
    width: 600px;
}
}