/* Estilos generales */
.EventoContainer {
    width: 10%;
    min-width: 80px;
    height: 500px;
    border-radius: 16px;
    background-color: rgb(11, 167, 156);
    position: relative;
    flex-grow: 1;
    animation-duration: 1s;
    animation-name: slideout;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.EventoContainer:hover {
    flex-grow: 8;
    animation-duration: 2s;
    animation-name: slidein;
}

.EventoContainer:hover .imgEvento {
    width: 30%;
}

.EventoContainer:hover .textCardEventoContainer {
    display: block;
}

@keyframes slidein {
    from {
        flex-grow: 1;
    }
    to {
        flex-grow: 8;
    }
}

@keyframes slideout {
    from {
        flex-grow: 8;
    }
    to {
        flex-grow: 1;
    }
}

.imgEvento {
    width: 100%;
    height: 100%;
}

.filtro {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    top: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.filtro svg {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}

.bottomContent {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 20px 15px 10px;
    width: 100%;
}

.tituloEvento {
    color: white;
    font-size: 1.3vw;
    width: 50%;
    margin: 0;
}

.tituloEvento span {
    width: 150%;
    font-size: 1.5vw;
    font-weight: 600;
    display: block;
}

.textCardEventoContainer {
    display: none;
    position: absolute;
    left: 35%;
    top: 30px;
    width: 55%;
    color: white;
}

.subTituloCardEvento {
    font-weight: 700;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}

.txtCardEvento {
    font-size: 18px;
    margin: 0px 0px 30px 0px;
}

/* Media Query para móviles */
/* Media Query para móviles */
@media (max-width: 768px) {
    .EventosContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center; /* Fuerza misma altura */
        justify-content: center;
    }

    .EventoContainer {
        width: 90%;
       
        flex-grow: 1;
    }

    .imgEvento {
        width: 100% !important;
        height: 100%;
        object-fit: cover; /* Asegura que la imagen llene el espacio sin deformarse */
        border-radius: 16px;
    }

    .filtro {
        
        position: absolute;
        background-color: rgba(0, 0, 0, 0.671);
        border-radius: 16px;
    }
    .filtro:hover{
        
        & .textCardEventoContainer{
            visibility: visible;
        }
    }
    .tituloEvento {
        font-size: 5vw;
    }

    .tituloEvento span {
        font-size: 4.5vw;
    }

    .textCardEventoContainer {
        display: block;
        position: absolute;
        width: 90%;
        left: 10px;
        top: 20px;
        margin-left: 10px;
        color: white;
        visibility: hidden;
    }

    .subTituloCardEvento {
        font-size: 16px;
        
    }

    .txtCardEvento {
        font-size: 14px;
        
    }
}

